# Ignorar o arquivo .env que contém informações sensíveis
.env

# Ignorar a pasta node_modules que contém as dependências instaladas
node_modules/

# Ignorar arquivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar lock files, se você não quiser subir
package-lock.json
yarn.lock

# Ignorar pastas geradas pelo editor
.vscode/
.idea/

# Ignorar arquivos de cache e temporários
.DS_Store
*.log

# Ignorar arquivos do Docker
docker-compose.override.yml  # Arquivos específicos da máquina de desenvolvimento
.dockerignore                # Docker ignore file
docker-compose.yml           # Se você não quiser subir o docker-compose (opcional)
